body {
    text-align: center;
    background-image: url('/picture/background/town01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
h1 {
    /* font-weight: 100; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px;
    border-radius: 45px;
}
.showTurn {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 45px;
}

.puzzleBoard {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.puzzleBoard > div {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
}
.puzzleBoard > div > img {
    width: 118px;
    height: 118px;
    border-radius: 25px;
    cursor: pointer;
}
img.setterTile {
    border-radius: 50px;
}
.hintBoard {
    width: 360px;
    height: 360px;
    background-color: lightblue;
    border: 10px solid #0c67ae;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.hintBoard > div {
    width: 360px;
    height: 360px;
    border: 1px solid #0c67ae;
}
.hintBoard > div > img {
    width: 360px;
    height: 360px;
    border-radius: 25px;
    cursor: pointer;
}
.playButton,
.shuffleButton,
.dayNight,
.nightDay {
    background-color: lightblue;
    border: none;
    color: black;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 45px;
    cursor: pointer;
}
.playButton:hover {
    outline-offset: 3px;
}

/* div > img {
    object-fit: cover;
} */

/* .puzzle div {
    width: 118px;
    height: 118px;
    border: 1px solid #0c67ae;
} */
/* .block {
    cursor: pointer;
} */
